@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Welcome to our Manja App</h1>
                <p>Explore delicious manjas and discover new flavors!</p>
            </div>
            <div class="text-center mt-4">
                <div class="img-thumbnail">
                    <img class="img-thumbnail"
                         src="~/Photos/Salads.jpg">
                <a href="/Categories/Details/4" class="btn btn-lg btn-primary">View Salads</a>
            </div>
        </div>
    </div>
</div>
