@model ManjaApp.Web.Models.ManjaCreateEditViewModel

<h1>Create</h1>
    
<h4>Manja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @Html.ValidationSummary(true)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items=@(new SelectList(ViewBag.Categories, "Id", "Title"))></select>
            </div>
            <div class="form-group">
                <input asp-for="Picture" type ="hidden" value="-" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="PictureUpload" class="control-label"></label>
                <input asp-for="PictureUpload" type="file" class="form-control-file" />
                <span asp-validation-for="PictureUpload" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
